<figure class="aspect-[3/2] bg-zinc-100 dark:bg-white/5 p-2 md:p-4 xl:p-6">
  <div class="relative h-full w-full">
    <img class="absolute inset-0 cursor-zoom-in m-auto max-h-full max-w-full" src="{{ include.src }}" alt="{{ include.alt }}" data-caption="{{ include.caption }}" data-exif="{{ include.exif }}" data-orientation="portrait" loading="lazy">
  </div>
  {% if include.caption %}<figcaption class="text-center text-zinc-900 dark:text-white text-sm mt-2">{{ include.caption }}</figcaption>{% endif %}
</figure>