<div class="overflow-x-hidden">
  <figure class="mx-auto aspect-[3/2] bg-zinc-100 dark:bg-white/5 p-2 md:p-4 xl:p-6 box-border max-w-full">
    <div class="w-full h-full flex items-center justify-center overflow-hidden">
      <img class="max-w-full max-h-full object-contain cursor-zoom-in" src="{{ include.src }}" alt="{{ include.alt }}" data-caption="{{ include.caption }}" data-exif="{{ include.exif }}" data-orientation="portrait" loading="lazy">
    </div>
    {% if include.caption %}<figcaption class="text-center text-zinc-900 dark:text-white text-sm mt-2">{{ include.caption }}</figcaption>{% endif %}
  </figure>
</div>