<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&display=swap" rel="stylesheet">    
  </head>
  <body class="px-2 md:px-4 xl:px-6 bg-white dark:bg-zinc-900">
    <header>
      <h1 class="font-title font-medium tracking-[.2em] uppercase text-zinc-900 dark:text-white my-2 md:my-4 xl:my-6"><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
    </header>
    <main>
      <dialog id="lightbox" class="fixed inset-0 bg-white dark:bg-zinc-900 backdrop:bg-white dark:backdrop:bg-zinc-900 outline-none max-w-screen max-h-screen">
        <button id="lightboxClose" class="fixed right-4 top-4 w-8 h-8 leading-8 text-center text-2xl text-zinc-500 hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-white outline-none" aria-label="Close lightbox" autofocus>✕</button>
        <button id="lightboxPrev" class="fixed left-0 top-1/2 -translate-y-1/2 w-8 h-8 leading-8 text-center text-xl text-zinc-500 disabled:hover:text-zinc-500 hover:text-zinc-900 dark:text-zinc-400 disabled:dark:hover:text-zinc-400 dark:hover:text-white disabled:opacity-20 outline-none" aria-label="Previous image">&#10094;</button>
        <button id="lightboxNext" class="fixed right-0 top-1/2 -translate-y-1/2 w-8 h-8 leading-8 text-center text-xl text-zinc-500 disabled:hover:text-zinc-500 hover:text-zinc-900 dark:text-zinc-400 disabled:dark:hover:text-zinc-400 dark:hover:text-white disabled:opacity-20 outline-none" aria-label="Next image">&#10095;</button>
        <div class="relative m-auto aspect-[3/2] [max-width:calc(100vw-4rem)] [max-height:calc(100vh-6rem)]">
          <img class="w-full h-full cursor-zoom-out" src="" alt="">
          <a class="absolute top-4 right-4" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="none" viewBox="0 0 28 28" preserveAspectRatio="xMidYMid meet">
              <g>
                <path fill="white" d="M1.45605 14C1.45605 7.06999 7.07006 1.45599 14.0001 1.45599C20.9301 1.45599 26.5441 7.06999 26.5441 14V26.544H14.0001C7.07006 26.544 1.45605 20.93 1.45605 14Z"></path>
                <path fill="#141414" fill-rule="evenodd" d="M25.578 14V25.578H14C7.602 25.578 2.422 20.398 2.422 14C2.422 7.602 7.602 2.422 14 2.422C20.398 2.422 25.578 7.602 25.578 14ZM0 14C0 6.272 6.272 0 14 0C21.728 0 28 6.272 28 14V28H14C6.272 28 0 21.728 0 14ZM5.572 14.56C5.572 17.444 7.518 19.88 10.612 19.88C13.16 19.88 14.882 18.2 15.302 16.002H12.782C12.46 17.01 11.648 17.626 10.612 17.626C9.044 17.626 8.022 16.394 8.022 14.56C8.022 12.726 9.044 11.494 10.612 11.494C11.62 11.494 12.418 12.068 12.754 13.02H15.288C14.84 10.878 13.132 9.24 10.612 9.24C7.504 9.24 5.572 11.676 5.572 14.56ZM18.676 9.52H16.296V19.614H18.774V14.35C18.774 13.356 19.054 12.712 19.53 12.306C19.95 11.928 20.496 11.732 21.392 11.732H22.022V9.394H21.406C20.104 9.394 19.236 9.87 18.676 10.598V9.506V9.52Z" clip-rule="evenodd"></path>
              </g>
            </svg>
          </a>
        </div>
        <figcaption class="px-8 h-8 leading-8 overflow-hidden text-ellipsis whitespace-nowrap text-center text-sm text-zinc-900 dark:text-white"></figcaption>
      </dialog>
      {{ content }}
    </main>
    <footer class="my-2 md:my-4 xl:my-6 text-sm text-zinc-500 dark:text-zinc-400">
      Copyright © {{ 'now' | date: "%Y" }} Timothy Leung. All rights reserved.
    </footer>
    <script>
      let currentIndex = null;

      const images = Array.from(document.querySelectorAll('img.cursor-zoom-in'));

      const lightbox = document.getElementById('lightbox');
      const lightboxCaption = lightbox.querySelector('figcaption');
      const lightboxImage = lightbox.querySelector('img');
      const lightboxLink = lightbox.querySelector('a');
      const lightboxClose = lightbox.querySelector('#lightboxClose');
      const lightboxPrev = lightbox.querySelector('#lightboxPrev');
      const lightboxNext = lightbox.querySelector('#lightboxNext');

      // Functions
      function openLightbox(image) {
        lightboxImage.src = image.src;
        lightboxImage.alt = image.alt;
        lightboxCaption.textContent = image.getAttribute('data-exif') || '';
        lightboxLink.href = "https://contentcredentials.org/verify?source=" + encodeURIComponent(image.src);
        lightboxPrev.disabled = currentIndex === 0;
        lightboxNext.disabled = currentIndex === images.length - 1;
        if (image.getAttribute('data-orientation') === 'portrait') {
          lightboxImage.parentElement.classList.remove('aspect-[3/2]');
          lightboxImage.parentElement.classList.add('aspect-[2/3]');
        } else {
          lightboxImage.parentElement.classList.remove('aspect-[2/3]');
          lightboxImage.parentElement.classList.add('aspect-[3/2]');
        }
        lightbox.showModal();
        document.body.classList.add("overflow-hidden");  // Prevent background scroll
        
      }

      function closeLightbox() {
        lightbox.close();
        document.body.classList.remove("overflow-hidden"); // Allow background scroll
      }

      lightboxImage.onclick = closeLightbox;
      lightboxClose.onclick = closeLightbox;

      // Event listeners
      document.addEventListener('keydown', (e) => {
        if (!lightbox.open) return;

        if (e.key === 'Escape') {
          closeLightbox();
        } else if ((e.key === 'ArrowLeft' || e.key === 'ArrowUp') && currentIndex > 0) {
          openLightbox(images[--currentIndex]);
        } else if ((e.key === 'ArrowRight' || e.key === 'ArrowDown') && currentIndex < images.length - 1) {
          openLightbox(images[++currentIndex]);
        }
      });

      images.forEach((image, index) => {
        image.addEventListener('click', () => {
          currentIndex = index;
          openLightbox(images[currentIndex]);
        });
      });

      lightboxPrev.onclick = () => {
        if (currentIndex > 0) {
          openLightbox(images[--currentIndex]);
        }
      };

      lightboxNext.onclick = () => {
        if (currentIndex < images.length - 1) {
          openLightbox(images[++currentIndex]);
        }
      };
    </script>      
  </body>
</html>
